# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
/run*
/run/*
run-data
/run-data
run
/run
run/*
run\
run\*

# Files from Forge MDK
forge*changelog.txt

.cache
logs

# gradle daemon / caches
.gradle/
run-data/

# datagen cache
src/generated/resources/.cache/
run/saves/New World/advancements/380df991-f603-344c-a090-369bad2a924a.json
run/saves/New World/data/raids.dat
run/saves/New World/DIM-1/data/raids.dat
run/saves/New World/DIM1/data/raids_end.dat
run/saves/New World/entities/r.-1.-1.mca
run/saves/New World/entities/r.-1.0.mca
run/saves/New World/entities/r.0.-1.mca
run/saves/New World/entities/r.0.0.mca
run/saves/New World/level.dat
run/saves/New World/level.dat_old
run/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
run/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
run/saves/New World/poi/r.-1.0.mca
run/saves/New World/poi/r.0.0.mca
run/saves/New World/region/r.-1.-1.mca
run/saves/New World/region/r.-1.0.mca
run/saves/New World/region/r.0.-1.mca
run/saves/New World/region/r.0.0.mca
run/saves/New World/stats/380df991-f603-344c-a090-369bad2a924a.json
.gradle/9.2.1/checksums/checksums.lock
.gradle/9.2.1/checksums/md5-checksums.bin
.gradle/9.2.1/checksums/sha1-checksums.bin
.gradle/9.2.1/executionHistory/executionHistory.bin
.gradle/9.2.1/executionHistory/executionHistory.lock
.gradle/9.2.1/fileHashes/fileHashes.bin
.gradle/9.2.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
